141433.xyz {
  encode zstd gzip

  handle /api/* {
    reverse_proxy app:8080
  }

  handle /ws/* {
    reverse_proxy app:8080
  }

  handle /actuator/health* {
    reverse_proxy app:8080
  }

  handle {
    reverse_proxy frontend:80
  }
}
